/* JobDescription.css */
.job-description-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    box-sizing: border-box;
    /* min-height: 100vh; */
}

.job-header {
    text-align: center;
    margin-bottom: 20px;
}

.job-description-container h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.job-description-container h1 {
    font-size: 2.5em;
    margin: 0;
    width: 100%;
    color: #333;
}

.job-description-container p {
    font-size: 1.2em;
    color: #333;
}

.job-description-container h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.job-description-container .job-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
.share-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    flex: 1;
    min-width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.apply-button
{
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    flex: 1;
    min-width: 500px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.share-button {
    background-color: #f0f0f0;
    color: #333;
}

.apply-button {
    background-color: #5a7bbd;
    color: white;
}

.social-media-icons {
    margin: 15px 0;
    font-size: 1.5em;
    text-align: center;
}

.social-media-icons i {
    margin: 0 15px;
    cursor: pointer;
    color: #333;
}

.job-details-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.job-details-table td {
    padding: 15px;
    vertical-align: top;
}

.job-description {
    width: 70%;
}

.job-info {
    width: 30%;
    border-left: 1px solid #e0e0e0;
}

.job-info h3 {
    margin-top: 0;
}

.apply-button {
    margin-top: 20px;
}