.footer {
    margin-top: 20px;
    font-size: 0.8em;
    text-align: center;
    padding: 10px; /* added padding */
    background-color: #f0f0f0; /* added a light background color */
}

.footer a {
    color: #708FD0; /* Link color */
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}